################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LibraryManagment/FileContentIndex/51315483-8c22-4aad-ad29-360b556a03fb.vsidx
/.vs/LibraryManagment/FileContentIndex/75310136-57e8-43f9-9ee3-28d2d1bca6df.vsidx
/.vs/LibraryManagment/FileContentIndex/761ff52e-227c-45c9-8d74-eac17796b10b.vsidx
/.vs/LibraryManagment/FileContentIndex/9edfd04e-b8cf-4297-a365-45b33607f5de.vsidx
/.vs/LibraryManagment/FileContentIndex/b4e347ad-d0a1-4dd6-bb8b-98773fb720e5.vsidx
/.vs/LibraryManagment/FileContentIndex/b7cca333-6ac1-46a5-87bd-942567488562.vsidx
/.vs/LibraryManagment/v17/.suo
/.vs/LibraryManagment/FileContentIndex/196431e5-955f-42ae-af74-7f6a52327ec9.vsidx
/.vs/LibraryManagment/FileContentIndex/29d81cbe-6f32-40bf-ac53-d069d6715c69.vsidx
/.vs/LibraryManagment/FileContentIndex/2d8dbddd-c302-4ffb-95fc-fb412575c870.vsidx
/.vs/LibraryManagment/FileContentIndex/336b05f3-f986-4d50-b064-ea901ba860a8.vsidx
/.vs/LibraryManagment/FileContentIndex/196431e5-955f-42ae-af74-7f6a52327ec9.vsidx
/.vs/LibraryManagment/FileContentIndex/2d8dbddd-c302-4ffb-95fc-fb412575c870.vsidx
/.vs/LibraryManagment/FileContentIndex/51315483-8c22-4aad-ad29-360b556a03fb.vsidx
/.vs/LibraryManagment/FileContentIndex/75310136-57e8-43f9-9ee3-28d2d1bca6df.vsidx
/.vs/LibraryManagment/FileContentIndex/b4e347ad-d0a1-4dd6-bb8b-98773fb720e5.vsidx
