<dx-switch
  #switchInstance
  ngDefaultControl
  [(ngModel)]="value"
  [accessKey]="accessKey"
  [activeStateEnabled]="activeStateEnabled"
  [disabled]="disabled"
  [elementAttr]="elementAttr"
  [focusStateEnabled]="focusStateEnabled"
  [height]="height"
  [hint]="hint"
  [hoverStateEnabled]="hoverStateEnabled"
  [isValid]="isValid"
  [name]="name"
  [readOnly]="readOnly"
  [rtlEnabled]="rtlEnabled"
  [switchedOffText]="switchedOffText"
  [switchedOnText]="switchedOnText"
  [tabIndex]="tabIndex"
  [validationError]="validationError"
  [validationMessageMode]="validationMessageMode"
  [visible]="visible"
  [width]="width"
  (onContentReady)="onContentReady.emit($event)"
  (onDisposing)="onDisposing.emit($event)"
  (onInitialized)="onInitialized.emit($event)"
  (onOptionChanged)="onOptionChanged.emit($event)"
  (onValueChanged)="onValueChanged.emit($event)"
></dx-switch>
