.pi-angle-right:before {
  content: "\e931";
}

.pi-angle-double-right:before {
  content: "\e92d";
}

.pi-angle-left:before {
  content: "\e932";
}

.pi-angle-double-left:before {
  content: "\e92e";
}

.pi-chevron-left:before {
  content: "\e901";
}

.pi-chevron-right:before {
  content: "\e900";
}

.p-paginator-page-options {
  direction: ltr;
  .p-dropdown-labe {
    direction: ltr;
  }
}
