.matero-auth-container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding: 16px;
  background-color: #212121;
  background-image:url('assets/images/login-back.jpg');
  background-size: 100% 100%;
}
