::ng-deep .current-product {
  padding-top: 11px;
}

::ng-deep .current-value {
  font-weight: bold;
}

::ng-deep .dx-scrollable-wrapper {
padding: 0px !important;
}

::ng-deep .dx-scrollable-container {
  padding: 0px !important;
}

::ng-deep .dx-scrollable-content {
  padding: 0px !important;
}

::ng-deep .dx-scrollview-content {
  padding: 0px !important;
}
