<dx-text-box
  [ngClass]="isRequired ? 'required-validation' : ''"
  [(value)]="value"
  [(ngModel)]="value"
  [(mode)]="mode"
  [labelMode]="labelMode"
  [label]="label"
  [rtlEnabled]="true"
  stylingMode="outlined"
  [class]="class"
  [disabled]="disabled"
  [isValid]="isValid"
  [accessKey]="accessKey"
  [activeStateEnabled]="activeStateEnabled"
  [elementAttr]="elementAttr"
  [focusStateEnabled]="focusStateEnabled"
  [height]="height"
  [hint]="hint"
  [hoverStateEnabled]="hoverStateEnabled"
  [inputAttr]="inputAttr"
  [mask]="mask"
  [validationStatus]="validationStatus"
  [maskChar]="maskChar"
  [maskInvalidMessage]="maskInvalidMessage"
  [maskRules]="maskRules"
  [maxLength]="maxLength"
  [name]="name"
  [placeholder]="placeholder"
  [readOnly]="readOnly"
  [showClearButton]="showClearButton"
  [showMaskMode]="showMaskMode"
  [spellcheck]="spellcheck"
  [tabIndex]="tabIndex"
  [valueChangeEvent]="valueChangeEvent"
  [validationMessageMode]="validationMessageMode"
  [text]="text"
  [useMaskedValue]="useMaskedValue"
  [validationError]="validationError"
  (onBlur)="onBlurExtra($event)"
  (onChange)="onChange.emit($event)"
  (onContentReady)="onContentReady.emit($event)"
  (onCopy)="onCopy.emit($event)"
  (onCut)="onCut.emit($event)"
  (onDisposing)="onDisposing.emit($event)"
  (onEnterKey)="onEnterKey.emit($event)"
  (onFocusIn)="onFocusIn.emit($event)"
  (onFocusOut)="onFocusOut.emit($event)"
  (onInitialized)="onInitialized.emit($event)"
  (onInput)="onInput.emit($event)"
  (onKeyDown)="onKeyDown.emit($event)"
  (onKeyPress)="onKeyPress.emit($event)"
  (onKeyUp)="onKeyUp.emit($event)"
  (onOptionChanged)="onOptionChanged.emit($event)"
  (onPaste)="onPaste.emit($event)"
  (keypress)="restrictNumeric($event)"
>
  <dxi-button
    *ngIf="hasButton"
    name="today"
    location="after"
    [options]="button"
  ></dxi-button>
</dx-text-box>
