<p-treeTable [value]="dataSource"
             [columns]="columns"
             [paginator]="paginator"
             [rows]="pageSize"
             [lazy]="lazy"
             [totalRecords]="totalCount"
             [loading]="loading"
             [rowHover]="rowHover"
             [dataKey]="dataKey"
             [resizableColumns]="resizableColumns"
             [(selection)]="selectedItems"
             selectionMode="checkbox"
             [rowTrackBy]="rowTrackBy"
             [(contextMenuSelection)]="selectedNode"
             [contextMenu]="cm"
             [sortMode]="'single'"
             [rowsPerPageOptions]="[10, 20, 50]"
             contextMenuSelectionMode="joint"
             (onContextMenuSelect)="contextMenuSelection.emit($event)"
             (onLazyLoad)="loadNodesExtra($event)"
             (onNodeExpand)="onNodeExpandExtra($event)">
  <!--<ng-template pTemplate="caption">
    <div class="flex">
      <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
      <span class="mr-2">انتخاب همه</span>
    </div>
  </ng-template>-->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [ttSortableColumn]="col.field">
        {{ col.header }}
        <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body"
               let-rowNode
               let-rowData="rowData"
               let-columns="columns">
    <tr [ttContextMenuRow]="menuItems.length > 0 ? rowNode : null">
      <td *ngFor="let col of columns; let i = index">
        <p-treeTableToggler [rowNode]="rowNode"
                            *ngIf="i == 0"></p-treeTableToggler>
        <p-treeTableCheckbox [value]="rowNode"
                             *ngIf="i == 0"></p-treeTableCheckbox>
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
</p-treeTable>


<p-contextMenu #cm [model]="menuItems" appendTo="body"></p-contextMenu>
