<dx-select-box #element
               [acceptCustomValue]="acceptCustomValue"
               [activeStateEnabled]="activeStateEnabled"
               [dataSource]="dataSource"
               [disabled]="disabled"
               [displayExpr]="displayExpr"
               [dropDownOptions]="dropDownOptions"
               [elementAttr]="elementAttr"
               [focusStateEnabled]="focusStateEnabled"
               [height]="height"
               [hoverStateEnabled]="hoverStateEnabled"
               [inputAttr]="inputAttr"
               [isValid]="isValid"
               [items]="items"
               [name]="name"
               [noDataText]="noDataText"
               [openOnFieldClick]="openOnFieldClick"
               [placeholder]="placeholder"
               [readOnly]="readOnly"
               [rtlEnabled]="rtlEnabled"
               [opened]="opened"
               [searchEnabled]="searchEnabled"
               [searchExpr]="searchExpr"
               [searchMode]="searchMode"
               [selectedItem]="selectedItem"
               [showClearButton]="showClearButton"
               [showDataBeforeSearch]="showDataBeforeSearch"
               [showDropDownButton]="showDropDownButton"
               [stylingMode]="stylingMode"
               [tabIndex]="tabIndex"
               [text]="text"
               [(value)]="value"
               [valueExpr]="valueExpr"
               [visible]="visible"
               [width]="width"
               (onContentReady)="onContentReady.emit($event)"
               (onDisposing)="onDisposing.emit($event)"
               (onEnterKey)="onEnterKey.emit($event)"
               (onFocusIn)="onFocusInExtra($event)"
               (onFocusOut)="onFocusOutExtra($event)"
               (onItemClick)="onItemClick.emit($event)"
               (onKeyDown)="onKeyDown.emit($event)"
               (onKeyPress)="onKeyPress.emit($event)"
               (onKeyUp)="onKeyUpExtra($event)"
               (onOpened)="onOpenedExtra($event)"
               (onClosed)="onClosed.emit($event)"
               (onInitialized)="onInitializedExtra($event)"
               (onSelectionChanged)="onSelectionChanged.emit($event)"
               (onValueChanged)="onValueChangedExtra($event)"
               (selectedItemChange)="selectedItemChangeExtra($event)"
               (dataSourceChange)="onDataSourceChange($event)">
</dx-select-box>

