<ag-grid-angular
                 *ngIf="showGrid"
                 #grid
                 class="ag-theme-alpine w-full h-full"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"
                 [defaultColDef]="defaultColDef"
                 [rowSelection]="rowSelection"
                 [components]="components"
                 [getDataPath]="getDataPath"
                 [treeData]="treeData"
                 [groupSelectsChildren]="groupSelectsChildren"
                 [suppressRowClickSelection]="suppressRowClickSelection"
                 [rowMultiSelectWithClick]="rowMultiSelectWithClick"
                 [pagination]="pagination"
                 [paginationPageSize]="paginationPageSize"
                 [autoGroupColumnDef]="autoGroupColumnDef"
                 [suppressPaginationPanel]="suppressPaginationPanel"
                 [suppressDragLeaveHidesColumns]="suppressDragLeaveHidesColumns"
                 [rowModelType]="rowModelType"
                 [sideBar]="sideBar"
                 [rowHeight]="rowHeight"
                 [headerHeight]="headerHeight"
                 [serverSideDatasource]="serverSideDatasource"
                 [enableRtl]="enableRtl"
                 [cacheBlockSize]="paginationPageSize"
                 [enableRangeSelection]="enableRangeSelection"
                 [undoRedoCellEditing]="undoRedoCellEditing"
                 [undoRedoCellEditingLimit]="undoRedoCellEditingLimit"
                 [enableCellChangeFlash]="enableCellChangeFlash"
                 [enableFillHandle]="enableFillHandle"
                 [suppressClickEdit]="suppressClickEdit"
                 [maxBlocksInCache]="maxBlocksInCache"
                 [cacheOverflowSize]="cacheOverflowSize"
                 [groupDefaultExpanded]="groupDefaultExpanded"
                 [editType]="editType"
                 [statusBar]="statusBar"
                 [readOnlyEdit]="readOnlyEdit"
                 [singleClickEdit]="singleClickEdit"
                 [getContextMenuItems]="getContextMenuItems"
                 [isRowSelectable]="isRowSelectable"
                 [rowGroupPanelShow]="rowGroupPanelShow"
                 (firstDataRendered)="firstDataRenderedExtra($event)"
                 (cellEditingStopped)="cellEditingStopped.emit($event)"
                 (rowEditingStopped)="rowEditingStopped.emit($event)"
                 (gridReady)="gridReadyExtra($event)"
                 (cellClicked)="cellClicked.emit($event)"
                 (rowClicked)="rowClickedExtra($event)"
                 (rowDoubleClicked)="rowDoubleClicked.emit($event)"
                 (cellContextMenu)="cellContextMenuExtra($event)"
                 (paginationChanged)="paginationChanged.emit($event)"
                 (rowDataUpdated)="rowDataUpdated.emit($event)"
                 (selectionChanged)="onSelectionChanged($event)"
                 (rowValueChanged)="rowValueChanged.emit($event)"
                 (cellValueChanged)="cellValueChanged.emit($event)"
                 (cellDoubleClicked)="cellDoubleClicked.emit($event)"
                 (modelUpdated)="modelUpdated.emit($event)">
</ag-grid-angular>