<div class="row">

  <div class="col-12 p-0 pl-2 pr-2">
    <span class="float-right" style="width:200px">
      Total :
    </span>

    <span class="float-right" style="width:200px">
    </span>

    <span class="float-right" style="width:200px">
    </span>

    <span class="float-right" style="width:200px">
    </span>

    <span class="float-right" style="width:200px">
    </span>
  </div>

  <div class="col-12 p-0 pl-2 pr-2">
    <span class="float-right" style="width:200px">
      Sum of Selected Items :
    </span>

    <span class="float-right" style="width:200px">
    </span>

    <span class="float-right" style="width:200px">
    </span>

    <span class="float-right" style="width:200px">
    </span>

    <span class="float-right" style="width:200px">
    </span>
  </div>

</div>
